if status is-interactive
    
    # additional environment paths



    # sourcing tools



    # setting environment variables
    


    # additional aliases



    # functions
    
    function fgrep
        rg --line-number --no-heading --color=always --smart-case $argv[1] | fzf -d ':' -n 2.. --ansi --no-sort --preview-window 'down:20%:+{2}' --preview 'bat --style=numbers --color=always --highlight-line {2} {1}'
    end


end
